<div class='p-4'>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'text' -%}
        <h1>Ciao a tutti</h1>
        <div
          class='banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}'
          {{ block.shopify_attributes }}
        >
          {%- if block.settings.button_label_1 != blank -%}
            <a
              {% if block.settings.button_link_1 == blank %}
                role='link' aria-disabled='true'
              {% else %}
                href='{{ block.settings.button_link_1 }}'
              {% endif %}
              class='button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}'
            >
              {{- block.settings.button_label_1 | escape -}}
            </a>
          {%- endif -%}
          {%- if block.settings.button_label_2 != blank -%}
            <a
              {% if block.settings.button_link_2 == blank %}
                role='link' aria-disabled='true'
              {% else %}
                href='{{ block.settings.button_link_2 }}'
              {% endif %}
              class='button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}'
            >
              {{- block.settings.button_label_2 | escape -}}
            </a>
          {%- endif -%}
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.about-us.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "text",
      "name": "Text"
    }
  ]
}
{% endschema %}
